//
//  RESET
//
:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html,
body {
  min-height: 100vh;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: $unit;

  font-family: $body-font-family;
  font-size: $unit;
  line-height: 1.5;
  color: $text-color;

  background-color: $body-background-color;
  background-image: $body-background-image;


  @media (max-width: $breakpoint-sm-min) {
    margin-top: 9rem;
  }
  @media (min-width: $breakpoint-sm) {
    margin: $unit * 4;
    margin-top: $unit * 8;
    margin-bottom: 0;
  }
  @media (min-width: $breakpoint-lg) {
    margin: $unit * 8;
    margin-bottom: 0;
    //margin-top: $unit * 8;
  }
}



.above-the-fold-container {
  @media (min-width: $breakpoint-lg) {
    min-height: calc(100vh - (#{$unit} * 12));
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
  }
}


//
//  Typography
//
a {
  color: $brand-color;

  &:focus,
  &:hover {
    color: $brand-color;
  }
}


h1 {
  color: $brand-color;
}


h2 {
  margin-top: 0;
  margin-bottom: 4rem;

  text-align: center;
  font-size: $unit * 2;
  line-height: 1.5;
  color: $brand-color;

  @media (min-width: $breakpoint-sm) {
    font-size: $unit * 3;
  }
}


h3 {
  margin-top: 0;
  margin-bottom: 0;

  font-size: $unit * 1.5;
  color: $brand-color;

  @media (min-width: $breakpoint-sm) {
    font-size: $unit * 2;
  }
}



.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

