.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.visible-mobile-only {
  display: none;
  @media (max-width: $breakpoint-sm-min) {
    display: block;
  }
}


.visible-tablet-only {
  display: none;
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md-min) {
    display: inline-block;
  }
}

.visible-desktop-only {
  display: none;
  @media (min-width: $breakpoint-md) {
    display: inline-block;
  }
}
