//
//  countdown
//
#clock {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

  display: none;
  align-items: center;
  justify-content: center;

  background: rgba($black, .8);
  backdrop-filter: blur(.4rem);

  .slot {
    flex-basis: 8rem;
    text-align: center;
  }

  span {
    display: block;
  }


  //
  //  label-value
  //
  .label-value {
    display: flex;
    span {
      flex-basis: 20rem;
    }
  }

  .value {
    font-family: Arial, sans-serif;
    font-size: $unit * 2;
    color: $white;

    @media (min-width: $breakpoint-sm) {
      font-size: $unit * 3;
    }
  }

  .label {
    color: $grey-1;
  }


  //
  //  Show Countdown
  //
  &.is-active {
    display: flex;
  }
}
