//
//  countdown
//
#clock {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

  display: none;
  align-items: center;
  justify-content: center;

  //background-color: $brand-color;
  background-color: #0a2d82;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $breakpoint-sm-min) {
    background-image: url('../img/bg-countdown--mobile.png');
  }
  @media (min-width: $breakpoint-sm) {
    background-image: url('../img/bg-countdown.png');
  }


  .slot {
    flex-basis: 8rem;
    text-align: center;

    position: relative;
    top: 1rem;
  }

  span {
    display: block;
  }


  //
  //  label-value
  //
  .label-value {
    display: flex;
    span {
      flex-basis: 20rem;
    }
  }

  .value {
    font-family: Arial, sans-serif;
    font-size: $unit * 2;
    color: $white;

    @media (min-width: $breakpoint-sm) {
      font-size: $unit * 3;
    }
  }

  .label {
    color: $grey-1;
  }


  //
  //  Show Countdown
  //
  &.is-active {
    display: flex;
  }
}
