footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: $unit * 2;
  padding-bottom: $unit * 2;
  font-size: 1.4rem;
  text-align: center;

  //background: $white;


  img {
    width: 8rem;
    margin-bottom: $unit;
  }

  @media (min-width: $breakpoint-md) {
    img {
      display: none;
    }
  }
}
