//
//  Header on top
//
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  padding-left: $unit;
  padding-right: $unit;

  //background: $white;
  background: $brand-color;
  box-shadow: $cell-box-shadow;

  img {
    width: 9rem;
  }

  @media (min-width: $breakpoint-sm) {
    padding-left: $unit * 4;
    padding-right: $unit * 4;
  }
  @media (min-width: $breakpoint-lg) {
    padding-left: $unit * 8;
    padding-right: $unit * 8;
  }


  //
  // container
  //
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: $app-max-width;
    margin-left: auto;
    margin-right: auto;
    height: $header-height;
  }


  &__brand {
    display: flex;
    line-height: 1.35;
  }


  &__event-name {
    display: none;

    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 1px solid rgba($white, .3);
    color: $white;

    @media (min-width: $breakpoint-sm) {
      display: block;
    }
    @media (min-width: $breakpoint-md) {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: $unit * 1.5;
      line-height: 1;

      br { display: none; }

      .text-gradient {
        @media (min-width: $breakpoint-md) {
          background: -webkit-linear-gradient(0deg, #faed91, #b1792d);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
