//
//  navigation
//
.nav {
  @media (max-width: $breakpoint-sm-min) {
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    z-index: 100;
    padding: $unit;

    background: $brand-color;
    border-top: 1px solid rgba($white, .3);

    &.open {
      display: block;
    }
  }

  a {
    padding: 1.4rem .8vw;

    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;

    //color: #3b3d40; // gray
    color: $white;
    transition: color 150ms ease-in-out;

    &:hover {
      color: #c39a12;
    }

    @media (max-width: $breakpoint-sm-min) {
      display: block;
      text-align: center;
    }
  }

  //
  //  Hamburger
  //
  &__opener {
    display: inline-block;
    font-size: 0;
    border: 0;
    height: 0;
    padding: 14px 0;
    cursor: pointer;

    outline: none;
    background: transparent;

    @media (min-width: $breakpoint-sm) {
      display: none;
    }

    span {
      position: relative;
      display: inline-block;
      border-top: 4px solid $white;
      width: 30px;
      transition: border-top-color 0s .3s;

      &::before,
      &::after {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        width: 30px;
        height: 4px;

        background-color: $white;
        opacity: 1;
      }

      &::before {
        top: -12px;
        transition: top .3s .3s,transform .3s;
      }
      &::after {
        bottom: -8px;
        transition: bottom .3s .3s,transform .3s;
      }
    }

    //
    // Open menu
    //
    &.active {
      span {
        border-top-color: $brand-color;
        transition: border-top-color 0s .3s;

        &::before {
          top: -4px;
          transform: rotate(45deg);
          transition: top .3s,transform .3s .3s;
        }
        &::after {
          bottom: 0;
          transform: rotate(-45deg);
          transition: bottom .3s,transform .3s .3s;
        }
      }
    }
  }
}
