//
//  grid
//
.grid {
  display: grid;
  grid-gap: $unit;

  max-width: $app-max-width;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: 1fr 32rem;
    //grid-template-rows: 1fr 10rem;

    //width: calc(100vw - (#{$unit} * 6));
    //height: calc(100vh - (#{$unit} * 6));
  }

  //@media (min-height: 1080px) {
  //  height: auto;
  //  min-height: 80rem;
  //  margin-top: 6rem;
  //}
}


.cell {
  overflow: hidden;

  border-radius: $radius;
  box-shadow: $cell-box-shadow;

  iframe {
    overflow: hidden;
    border-radius: $radius;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}


//
//  Vimeo <iframe>
//
.cell-A {
  position: relative;
  //box-shadow: none;
  background: #f2f2f2;

  @media (max-width: $breakpoint-md-min) {
    order: 1;
  }
}
.is-before-event {
  .cell-A { background: $black; }
}


//
//  Slido <iframe>
//
.cell-B {
  //...
  line-height: 0;
  background: $grey-1;

  @media (max-width: $breakpoint-md-min) {
    order: 3;
  }
}


//
//  banner
//
.cell-C {
  padding: $unit;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //min-height: 80px;

  text-align: center;
  font-size: $unit * 1.25;
  color: $white;
  text-align: center;
  font-weight: bold;
  line-height: 1;

  background: $brand-color;

  @media (max-width: $breakpoint-md-min) {
    order: 2;
  }
  @media (min-width: $breakpoint-sm) {
    padding-top: $unit * 2;
    padding-bottom: $unit * 2;

    font-size: $unit * 1.5;

    div {
      display: inline-block;
    }
  }
  @media (min-width: $app-max-width) {
    font-size: $unit * 2;
  }

  span {
    //color: #dbb574;
    background: -webkit-linear-gradient(0deg, #faed91, #b1792d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


//
//  logo
//
.cell-D {
  display: none;

  @media (min-width: $breakpoint-md) {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: none;
  }

  img {
    width: 10rem;
  }
}





//
//  schedule
//
.l-section {
  //...
  max-width: $breakpoint-sm;
  margin-left: auto;
  margin-right: auto;
  margin-top: $unit * 5;
  margin-bottom: $unit * 5;
}


.white-box {
  padding: $unit * 2.5;
  overflow: hidden;

  box-shadow: $cell-box-shadow;
  border-radius: $radius;
  background: $white;

  &__item {
    margin-bottom: $unit * 3;
    &:last-child {
      margin-bottom: 0;
    }
  }
}






//
//  dev__dumpData
//
#dev__dumpData {
  position: fixed;
  bottom: 0;
  left: 0; right: 0;

  padding: 2rem;
  background: $white;
}







#share-your-photo h2 {
  //font-size: $unit * 1.5;
  @media (max-width: $breakpoint-sm-min) { line-height: 1.25; }
  @media (min-width: $breakpoint-sm) { font-size: 3.8rem; }
  @media (min-width: $breakpoint-lg) { font-size: 4.4rem; }
}

