.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



//
//  responsive Vimeo player
//
.embedd-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



//
//  grid
//
body {
  margin: $unit;

  @media (min-width: $breakpoint-sm) {
    margin: $unit * 3;
  }
}

.grid {
  display: grid;
  grid-gap: $unit;

  max-width: $app-max-width;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: 1fr 32rem;
    //grid-template-rows: 1fr 10rem;

    //width: calc(100vw - (#{$unit} * 6));
    //height: calc(100vh - (#{$unit} * 6));
  }

  //@media (min-height: 1080px) {
  //  height: auto;
  //  min-height: 80rem;
  //  margin-top: 6rem;
  //}
}


.cell {
  overflow: hidden;

  border-radius: $radius;
  box-shadow: $cell-box-shadow;

  iframe {
    overflow: hidden;
    border-radius: $radius;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}


//
//  Vimeo <iframe>
//
.cell-A {
  position: relative;

  background: $white;
  //box-shadow: none;

  @media (max-width: $breakpoint-md-min) {
    order: 1;
  }
}


//
//  Slido <iframe>
//
.cell-B {
  //...
  line-height: 0;
  background: $grey-1;

  @media (max-width: $breakpoint-md-min) {
    order: 3;
  }
}


//
//  banner
//
.cell-C {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;

  font-size: $unit * 1.5;
  color: $white;
  text-align: center;
  font-weight: bold;
  line-height: 1;

  background: $brand-color;

  @media (max-width: $breakpoint-md-min) {
    order: 2;
  }
  @media (min-width: $breakpoint-sm) {
    font-size: $unit * 2;
  }

  span {
    //color: #dbb574;
    background: -webkit-linear-gradient(0deg, #faed91, #b1792d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


//
//  logo
//
.cell-D {
  display: none;

  @media (min-width: $breakpoint-md) {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: none;
  }

  img {
    width: 10rem;
  }
}





//
//  schedule
//
.schedule {
  //...
  max-width: $breakpoint-sm;
  margin-left: auto;
  margin-right: auto;
  margin-top: $unit * 5;
  margin-bottom: $unit * 5;

  text-align: center;



  &__title {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 5.2rem;
    //color: $brand-color;
    color: $text-color;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  li {
    margin-top: $unit * 2;
  }

  &__time {
    //...
    font-size: 5.2rem;
    color: $brand-color;
  }

  &__description {
    font-size: 2.4rem;
  }
}



//
//  countdown
//
#clock {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba($black, .8);

  .slot {
    flex-basis: 8rem;
    text-align: center;
  }

  span {
    display: block;
  }

  .value {
    font-family: Arial, sans-serif;
    font-size: $unit * 3;
    color: $brand-color;
  }

  .label {
    color: $grey-1;
  }

}
