$brand-color:             #0e4393;

$body-background-color:   #f5f4ef;
$body-background-image:   url('/img/bg-pattern.png');
$body-font-family:        Raleway, Arial, sans-serif;


$transition:              all 100ms ease-in-out;
