@import "_variables"

//
//  RESET
//
:root {
  font-size: 62.5%;
}


html {
  box-sizing: border-box;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  height: 100%;
}





//====================



html {
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;

  font-size: 1.6rem;
  line-height: 1.5;

  background-color: $body-background-color;
}


main,
aside {
  display: block;
  margin: 0 auto;
  max-width: 28rem;

  @media (min-width: 768px) {
    max-width: calc(768px - 32px);
  }
}

hr {
  //...
}

a {
  color: red;

  &:focus,
  &:hover {
    color: green;
  }
}


//
//  > clean-up if(numberOfLines > 123 )
//
@import 'todo';
